*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    /* background-color: rgb(163, 82, 132); */
    padding: 34px;
    margin: auto;
}
.container h2,p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(59, 52, 52);
    font-style: italic;
    font-size: 38px;
}
.container p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(59, 52, 52);
    font-style: italic;
    font-size: 28px;
}
input{
    font-family: sans-serif;
    display: block;
    opacity: 0.6;
    justify-content: center;
    font-size: 20px;
    width: 80%;
    height: 40px;
    margin: 18px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 22px;
}
.btn {
    padding: 8px;
    margin: 18px;
    background-color: rgb(202, 197, 197);
    border: 2px solid black;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}
.bg {
    width: 100%;
    position: absolute;
    z-index: -1;
}
